!!! 5
%html
  %head
    %link{rel: "icon", type: "image/ico", href: "favicon.ico"}
    %title Favourite Books!
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    - if flash[:notice]
      #notice.message= flash[:notice]
    - elsif flash[:warning]
      #warning.message= flash[:warning]

    #main
      = yield