!!! 5
%html
  %head
    %link{ :href => image_path('favicon.ico'), :rel => 'icon', :type => 'image/x-icon' }
    %title Favourite Books!
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    - if flash[:notice]
      #notice.message= flash[:notice]
    - elsif flash[:warning]
      #warning.message= flash[:warning]

    #main
      = yield